---
layout: layout
#Note: topic name can have max 50 chars, topic name and subtopic name shouldnot have '~' symbol.
topics:
 - topic: [home, Home, முகப்பு]
   secs:
    - sec: [Subtopics, உற்பிரிவுகள்]
      subs:
       - [index, Home, முகப்பு]
 - topic: [third-eye, Third Eye, நெற்றிக்கண்]
   secs:
    - sec: [Third Eye, நெற்றிக்கண்]
      subs:
       - [index, Awakening, நெற்றிக்கண் தியானம் என்றால் என்ன]
       - [mei-unarvu, Mei Unarvu, மெய்யுணர்வு என்றால் என்ன]
       - [benefits, Benefits, பயன்கள்]
       - [distance-initiation, Distance Initiation, தொலைதூர தீட்சை]
       - [register, Register, பதிவு செய்தல்]
 - topic: [mahaan, Paranjothi Mahan, பரஞ்சோதி மகான்]
   secs:
    - sec: [Paranjothi Mahan, பரஞ்சோதி மகான்]
      subs:
       - [index, Introduction, முன்னுரை]
       - [philosophy, Philosophy, தத்துவம்]
       - [goldenwords, Golden Words, பொன்மொழிகள்]
    - sec: [Kundalini Yogam, குண்டலினியோகம்]
      subs:
       - [kundalini, Kundalini Yogam, குண்டலினி யோகம்]
       - [moolatharam, Moolatharam, மூலக்கண்]
       - [foreheadeye, Forehead Eye, நெற்றிக்கண்]
       - [eyeofnape, Eye of the Nape, பிடரிக்கண்]
       - [cresteye, Crest Eye, உச்சிக்கண்]
 - topic: [contact, Contact Us, தொடர்பு கொள்க]
   secs:
    - sec: [Contact Us, தொடர்பு கொள்க]
      subs:
       - [index, Contact Us, தொடர்பு கொள்க]
---

{{ content }}